.match {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid $light-border;
    border-radius: 3px;

    top: 50%;
    transform: translateY(-50%);
    position: absolute;

    &:hover {
        cursor: pointer;
        border-color: $highlight-blue;
    }
}

.match-group {
    position: relative;
}

.match-group-1 {
    height: 100%;
}

.match-group-2 {
    height: 50%;
}

.match-group-4 {
    height: 25%;
}

.match-group-8 {
    height: 12.5%;
}

